<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('navbar') %>

    <main>
        <section class="jumbotron text-center">
            <h1 class="display-4">Welcome to our Courses Platform</h1>
            <p class="lead">Explore the world of knowledge with us!</p>
            <a href="./travelagency" class="btn btn-primary">Enroll Now</a>
        </section>

        <section class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src='<%= pic1 %>' class="card-img-top" style="height: 200px;" alt="Course 1">
                        <div class="card-body">
                            <h5 class="card-title">Affordable</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src='<%= pic2 %>' class="card-img-top" style="height: 200px;" alt="Course 2">
                        <div class="card-body">
                            <h5 class="card-title">Flexible</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src='<%= pic3 %>' class="card-img-top" style="height: 200px;" alt="Course 3">
                        <div class="card-body">
                            <h5 class="card-title">Accessible</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
