<!DOCTYPE html>
<html>
<%- include('head') %>
<head>
    <style>
        #bookingForm {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            display: none;
            z-index: 9999;
            animation: fadeIn 0.5s;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        #bookingForm form {
            max-width: 500px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            animation: fadeOut 0.5s;
        }
    </style>
</head>

<body>
<%- include('navbar') %>
<div class="container mt-4">
    <h2>Available Courses</h2>
    <div class="row mb-4">
        <% const cities = [
        { name: 'JavaScript Fundamentals', imgSrc: 'img/Javascript.jpg', description: 'Learn the basics of JavaScript programming language. This course covers essential concepts such as variables, functions, conditionals, loops, and more.' },
        { name: 'HTML & CSS Essentials', imgSrc: 'img/essan.png', description: 'Master the fundamentals of HTML and CSS to build beautiful and responsive websites. This course provides hands-on experience in creating layouts, styling elements, and optimizing web pages.' },
        { name: 'Python for Beginners', imgSrc: 'img/python.jpg', description: 'Discover the power of Python programming language from scratch. This course introduces fundamental concepts including data types, control structures, functions, and object-oriented programming.' },
        { name: 'Web Development Bootcamp', imgSrc: 'img/webdep.jpg', description: 'Become a full-stack web developer with our comprehensive bootcamp. This course covers front-end technologies like HTML, CSS, JavaScript, as well as back-end frameworks like Node.js and Express.' },
        { name: 'Data Science Essentials', imgSrc: 'img/datasc.jpg', description: 'Dive into the world of data science with our introductory course. Learn data analysis, visualization, and machine learning techniques using popular Python libraries such as Pandas, Matplotlib, and Scikit-learn.' },
        { name: 'React & Redux Masterclass', imgSrc: 'img/react.jpg', description: 'Build interactive and dynamic web applications with React and Redux. This course teaches you how to create reusable components, manage state effectively, and handle complex data flows.' },
        // Add more courses as needed
        
        ]; %>

        <% cities.forEach(city => { %>
            <div class="col-md-4">
                <div class="card">
                    <img src='<%= city.imgSrc %>' class="card-img-top" style="height: 200px;" alt="<%= `${city.name} Image` %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= city.name %></h5>
                        <p class="card-text"><%= city.description %></p>
                        <a class="btn btn-primary book-now-btn" data-city="<%= city.name %>">Book Now</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <div id="bookingForm" style="display: none;">
        <form action="/travelAgency" method="post">
            <div class="form-group">
                <label for="cityName">Course:</label>
                <input type="text" class="form-control" id="cityName" name="cityName" readonly>
            </div>
            <div class="form-group">
                <label for="adults">Students:</label>
                <input type="number" class="form-control" id="adults" name="adults" placeholder="How many students?">
            </div>
            <div class="form-group">
                <label for="children"> Followers:</label>
                <input type="number" class="form-control" id="children" name="children"
                       placeholder="How many followers?">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" class="form-control" id="phone" name="phone"
                       placeholder="Enter your phone number">
            </div>
            <div class="form-group">
                <label for="hotelRating">Course Rating:</label>
                <select class="form-control" id="hotelRating" name="hotelRating">
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
            </div>
            <div class="form-group">
                <label for="date">Date of start:</label>
                <input type="date" class="form-control" id="dateArrival" name="dateArrival"
                       placeholder="Enter arriving date:">
            </div>
            <div class="form-group">
                <label for="date">Date of end:</label>
                <input type="date" class="form-control" id="dateDeparture" name="dateDeparture"
                       placeholder="Enter departure date:">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary btn-close" >Exit</button>
        </form>

    </div>
    <%- include('footer') %>
</div>

<script src="./scripts/scripts.js" defer></script>

</body>

</html>
